<div id="page-title"><h1>My Booked Tours:</h1></div>
  <% @bookings.each do |b| %>
    <div class="booking-entry">
      <div class="booking-img">
        <img src="<%= b.tour.photo_url%>" class="tour-img">
      </div>
      <div class="date-title">
        <div class='booking-date'><%= b.dates.strftime("#{b.dates.day.ordinalize} %B %Y") %> </div>
        <br>
        <div class="tour-title"><%= link_to "#{b.tour.name}", tour_path(b.tour)%> <span class="host"> - Hosted by: <%= b.tour.user.name %> </span></div>
      </div>
      <div class='review-btn'><%= link_to 'Review this booking', new_booking_review_path(b) if b.reviews.count == 0 %></div>
    </div>
  <% end %>
