<div class="w-100 d-flex justify-content-center align-items-center" style="padding: 20px">
<h1> Explore our worlds!</h1>
</div>


<%= form_tag tours_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control flex-grow-1",
    placeholder: "Find the perfect tour - filter by Tour Name, Description, Host Name or Price!"
  %>
  <%= submit_tag "Show Tours", type: "button", class: "btn btn-nw-secondary" %>
<% end %>
<%= link_to "Host a new tour", new_tour_path, class: 'btn btn-nw-primary' %>
<%# add card grid here - around the cards logic %>
<div class="cards">

<%# tours.each loop %>
<% @tours.each do |tour| %>

<%# cloudinary logic first: %>
  <% if tour.photo.attached? %>
  <%# need to test if a card category can be built as or with image tag %>

<%# then create the right card container per card -> card-category %>
    <%= link_to tour_path(tour.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path tour.photo.key %>)"> <%= tour.name %>
      </div>
    <% end %>
  <% else %>
    <%= link_to tour_path(tour.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= tour.photo_url %>)"> <%= tour.name %>
      </div>
    <% end %>
  <% end %>

<% end %>
