<div class="w-100 d-flex justify-content-center align-items-center" style="padding: 20px">
<h1> Explore other worlds!</h1>
</div>


<%# tours.each loop %>
<% @tours.each do |tour| %>

<%# check if image available on cloudinary: %>
  <% if tour.photo.attached? %>

<%# then create a card with the appropriate image source: %>
    <%= link_to tour_path(tour.id), class: "tour-card" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path tour.photo.key %>)"> <%= tour.name %>
      </div>
    <% end %>
  <% else %>
    <%= link_to tour_path(tour.id), class: "tour-card" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= tour.photo_url %>)"> <%= tour.name %>
      </div>
    <% end %>
  <% end %>

<% end %>
