<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a new tour</h3>
        <%= simple_form_for([@user, @tour]) do |f| %>
          <%= f.input :name, placeholder: "Enter tour name"%>
          <%= f.input :description , placeholder: "Describe the tour experience here!" %>
          <%= f.input :photo_url, placeholder: "https://source.unsplash.com/random/400x200" %>
          <%= f.input :price %>
          <%# <%= f.input :photo %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
